.guess_number,
.choose_range {
  display: flex;
  justify-content: row;
  align-items: center;
}

form {
  margin-left: 10px;
}

.hidden {
  display: none;
}

.guess_number h3,
.result__status {
  font-weight: 500;
}
